.input{
    height:58px;
    width: 80%;
    border-radius:12px;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: 1;
}
.input{
    background:none;
    border: none;
    margin-left:12px;
    flex: 1;
    z-index: 1;

}

.input input{
    text-align: center;
    border-radius: 25px;
    margin-left: 50px;
    width: 400px;
    height: 40px;
    border: none;
    margin-top: 20px;
    outline: none;
 } 
 .input button{
     border-radius: 25px;
     margin-left: -30px;
     background-color: rgb(160, 7, 7);
     height: 40px;
     border: none;
     color:whitesmoke;
     width: 100px;
     margin-top: 20px;
     outline:none;

  } 

 .button{
         border-radius: 25px;
         background-color: rgb(160, 7, 7);
         height: 52px;
         z-index: 1;
         border: none;
         color:whitesmoke;
         width: 200px;
         margin-top: 20px;
        outline:none;
 }